@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/links.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

img {
  width: 100%;
  object-fit: cover;
}
.text-align {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-align {
  align-items: center;
}
.skill-icon {
  height: 45px;
  width: 45px;
}

.intro-content_container,
.about {
  margin: auto;
}

.icon-container,
.cards-container {
  flex-wrap: wrap;
}
header,
nav,
footer,
.green-container {
  background: var(--tertiary-color);
}

/* header  */
header,
nav {
  position: fixed;
  width: 100%;
}
header {
  z-index: 1000;
  text-align: right;
}
nav {
  transform: translateX(100%);
  margin-top: 50px;
}
nav a {
  display: block;
  padding: 40px 20px;
  border-bottom: 2px solid #fff;
}
.show-menu {
  transition: 0.5s;
  transform: translateX(0%);
}
.hamburger {
  font-size: 4em;
  font-weight: bold;
  cursor: pointer;
  padding-right: 15px;
}
.hamburger,
footer {
  color: var(--primary-color);
}

/* footer  */
footer {
  padding: 30px 10px;
}

footer h2 {
  margin-bottom: 10px;
  font-weight: 100;
}

footer .contact-cta_container {
  gap: 20px;
}

/* intro  */
.green-container {
  min-height: 280px;
}
.intro-content_container {
  position: relative;
  height: 470px;
  top: -180px;
  padding: 0px 15px;
}
.intro img {
  border-radius: 100%;
  height: 220px;
  width: 220px;
  border: 6px solid var(--primary-color);
  animation: intro-img 1.5s ease-out;
}
@keyframes intro-img {
  0% {
    height: 1px;
    width: 1px;
  }
  100% {
    height: 220px;
    width: 220px;
  }
}

.intro h1 {
  color: var(--tertiary-color);
  font-size: 2.18em;
  margin-bottom: 15px;
}
.intro p {
  color: #717171;
  margin-bottom: 30px;
}
.intro .cta {
  opacity: 0%;
}
.show-cta {
  opacity: 100%;
}

/* about  */
.about {
  max-width: 500px;
  padding: 70px 15px 0px 15px;
  color: var(--tertiary-color);
}
.about .about-container > * {
  margin: 15px;
}
.skills-container {
  box-shadow: 0px 5px 4px 2px var(--tertiary-color);
  padding: 30px 20px;
  margin: 40px 0;
}
.skills-container h3 {
  margin-bottom: 20px;
  text-decoration: underline;
}
.icon-container {
  justify-content: space-around;
  gap: 30px;
}
/* projects */

.projects {
  background: var(--tertiary-color);
  color: var(--primary-color);
  margin: 30px 0;
  padding: 50px 15px;
}
.projects h2 {
  margin: 40px;
}
.cards-container {
  justify-content: center;
  gap: 50px;
}
.card {
  max-width: 314px;
  padding-bottom: 15px;
  background: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 5px;
  box-shadow: 0px 3px 4px 2px #0000007c;
}
.card > * {
  margin: 15px;
}
.card-img {
  min-height: 200px;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card h3 {
  font-size: 1.55em;
  min-height: 60px;
}
.card_skills-container {
  min-width: 200px;
  text-align: left;
}
.card .icon-container {
  justify-content: space-between;
  margin-top: 15px;
}
.card:nth-of-type(3) .icon-container {
  justify-content: start;
}
/* contact  */
.contact,
.blue-cta_container {
  justify-content: center;
}
.contact {
  padding: 100px 0px;
  min-height: 80vh;
  background: #1e3944;
}

.contact h2 {
  color: var(--primary-color);
  margin-bottom: 50px;
}

.contact-container {
  color: var(--primary-color);
  max-width: 550px;
  padding: 15px 25px;
  border-radius: 5px;
}
.contact-container > * {
  margin: 20px 0px;
}
